.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%; /* Убедимся, что хедер не шире экрана */
    margin: 0 30px; /* Центрируем */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    position: relative;
    display: flex;
    align-items: center;
}



.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    gap: 20px; /* Расстояние между ссылками */
    margin-right: 50px;
}

.menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: nowrap; /* Запрещаем перенос слов */
    padding: 10px 15px; /* сразу устанавливаем padding */
    border-radius: 30px; /* для овальной формы (можешь подобрать свое значение) */
    transition: background-color 0.3s ease; /* плавность перехода */
    background-color: transparent;
}

.menu a:hover, .language a:hover {
    background-color: #ae2e28;
}

.language {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    white-space: nowrap; /* Запрещаем перенос слов */
    padding: 10px 0px; /* сразу устанавливаем padding */
    border-radius: 30px; /* для овальной формы (можешь подобрать свое значение) */
    transition: background-color 0.3s ease; /* плавность перехода */
    background-color: transparent;
}

